<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    
    <title>Inscription</title>

</head>
<body>
    <h1>App de merde</h1>
    <form action="#">
        <div class="error_connexion">Error</div>
        <div class="field dark2">
            <i data-lucide="user-round" class="icon-left"></i>
            <input class="dark2" name="pseudo" type="text" placeholder="Identifiant">
        </div>
        <div class="name-last-name">
            <div class="field dark2">
                <input class="dark2" name="nom" type="text" placeholder="Nom">
            </div>
            <div class="field dark2">
                <input class="dark2" name="prenom" type="text" placeholder="Prénom">
            </div>

        </div>
        <div class="field dark2">
            <i data-lucide="mail" class="icon-left"></i>
            <input class="dark2" name="email" type="email" placeholder="email">
        </div>
        <div class="field dark2">
            <i data-lucide="lock-keyhole" class="icon-left"></i>
            <input class="dark2" type="password" name="password" id="password-field" placeholder="Password">
            <i data-lucide="eye-off" class="icon-password" onclick="showPswrd()"  id="eye"></i>
        </div>
        
            <div class="connexion-button primary500">
                <input type="submit" class="primary500" placeholder="S'inscrire">
            </div>
        
        <div class="link-connexion">
            Vous avez déjà un compte ? <a href="#">Se connecter</a>
        </div>
        
    </form>
    <script src="https://unpkg.com/lucide@latest"></script>
    <script>
      lucide.createIcons();
    </script>
</body>
</html>