<!DOCTYPE html>
<html lang="fr
">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://cdn.tailwindcss.com?plugins=forms,typography,aspect-ratio,line-clamp,container-queries"></script>
</head>
<body>
    <h1>Test</h1>
    <div class="container width-500px bg-pink-400 mx-auto px-10 shadow-2xl shadow-orange-400">
        <p>kerzfnzoe</p>
        <p>ezfozeifnzefz</p>
    </div>


</body>
</html>